@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.candidate-list {
  display: flex;
}

.candidate-list > * {
  width: 25%;
}
